
@{
    ViewData["Title"] = "About Us";
    Layout = "_Layout";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <!------------------------- About Us Section ----------------------->
    <section id="About-us">
        <div class="container text-center">
            <h1 class="title">WHO ARE WE?</h1>
            <div class="row">
                <div class="col col-xm-6">

                    <p class="About-title">WHAT WE STAND FOR ..</p>
                    <ul>
                        <li>Providing a healthy, safe and stimulating environment for all children.</li>
                        <li>All professignals having respect and understanding for each child’s individual uniqueness.</li>
                        <li>Providing a strong foundation for lifelong learning, positive behaviour and good health.</li>
                        <li>Being knowledgeable in child development in order to provide appropriate learning experience for all children.</li>
                    </ul>
                </div>
                <div class="col col-xm-6">
                    <img src="~/images/aboutUs.png" class="img-Fluid">
                </div>
            </div>
        </div>
    </section>
</body>
</html>
