
@{
    ViewData["Title"] = "Group Members";
    Layout = "_Layout";

}

<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <section id="GroupMembers">
        <div class="container">
            <h1 class="title text-center">GROUP MEMEBERS</h1>
            <div class="row offset-1">
                <div class="col col-md-5 GroupMembers">
                    <p>
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                    </p>
                    <img src="~/images/Members/MohamedAli.png">
                    <p class="user-details"><b>Mohamed Ali</b><br>Front End, Back End Developer</p>
                </div>

                <div class="col col-md-5 GroupMembers">
                    <p>
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                    </p>
                    <img src="~/images/Members/Munther.jpeg">
                    <p class="user-details"><b>Munther Al Shukair</b><br>Front End, Back End Developer</p>
                </div>
            </div>

            <div class="row offset-1">
                <div class="col col-md-5 GroupMembers">
                    <p>
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                    </p>
                    <img src="images/Members/MohamedAli.png">
                    <p class="user-details"><b>Mohamed Ali</b><br>Front End, Back End Developer</p>
                </div>

                <div class="col col-md-5 GroupMembers">
                    <p>
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                    </p>
                    <img src="images/Members/MohamedAli.png">
                    <p class="user-details"><b>Mohamed Ali</b><br>Front End, Back End Developer</p>
                </div>
            </div>

            <div class="row offset-1">
                <div class="col col-md-5 GroupMembers">
                    <p>
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                    </p>
                    <img src="images/Members/MohamedAli.png">
                    <p class="user-details"><b>Mohamed Ali</b><br>Front End, Back End Developer</p>
                </div>

                <div class="col col-md-5 GroupMembers">
                    <p>
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                    </p>
                    <img src="images/Members/MohamedAli.png">
                    <p class="user-details"><b>Mohamed Ali</b><br>Front End, Back End Developer</p>
                </div>
            </div>

            <div class="row offset-1">
                <div class="col col-md-5 GroupMembers">
                    <p>
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                    </p>
                    <img src="images/Members/MohamedAli.png">
                    <p class="user-details"><b>Mohamed Ali</b><br>Front End, Back End Developer</p>
                </div>

                <div class="col col-md-5 GroupMembers">
                    <p>
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                        Text Here, Text Here, Text Here, Text Here, Text Here, Text Here,
                    </p>
                    <img src="images/Members/MohamedAli.png">
                    <p class="user-details"><b>Mohamed Ali</b><br>Front End, Back End Developer</p>
                </div>
            </div>


        </div>
    </section>
</body>
</html>