
@{
    Layout = "_Layout";
    ViewData["Title"] = "Professional";
}

<html>
<head>
    <title>EZY Care - In Love with Kids</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Professional</h1>
</body>
</html>


